{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "env": {
        "react-native/react-native": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        }
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 100
            }
        ],
        "react/prop-types": [
            "error",
            {
                "ignore": [
                    "navigation"
                ]
            }
        ],
        "global-require": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
        "import/extensions": 0,
        "react-native/no-unused-styles": 2,
        "react-native/split-platform-components": 2,
        "react-native/no-inline-styles": 2,
        "react-native/no-color-literals": 2,
        "react-native/no-raw-text": 2
    },
    "plugins": [
        "react",
        "react-native",
        "prettier"
    ]
}